<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Auto/Moto Touring App',root_path, class:"navbar-brand" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       
        <li class="nav-item">
          <%= link_to "Chi Siamo", home_about_path, class:"nav-link active"%>
        </li>
        <li class="nav-item">
         <%= link_to "Statistiche", home_stat_path, class:"nav-link active"%>
        </li>

        <% if user_signed_in? %>
        <li class="nav-item">
         <%= link_to "HOME", tours_path, class:"nav-link active"%>
        </li>
        <li class="nav-item">
         <%= link_to "Profile", user_path(current_user), class:"nav-link active"%>
        </li>
        <li class="nav-item">
         <%= link_to "My Tours", home_ALL_path, class:"nav-link active"%>
        </li>
        
        <li class="nav-item">
         <%= link_to "all profile", users_index_path, class:"nav-link active"%>
        </li>
        
        
        <li class="nav-item">
         <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link active"%>
        </li>
         <li class="nav-item" >
         <%= button_to "Sign Out", destroy_user_session_path, method: :delete,class: 'btn btn-dark navbar-btn btn-sm' %>
        </li>

        <% else %>

        <li class="nav-item">
         <%= link_to "Sign Up", new_user_registration_path, class:"nav-link active"%>
        </li>
        <li class="nav-item">
         <%= link_to "Sign In", new_user_session_path, class:"nav-link active"%>
        </li>

        <% end %>
       
        
      </ul>
    </div>
  </div>
</nav>