

<h1>My Tour </h1> 


<table class="table table-striped table-hover">
   <thead class="table-dark">
    <tr>
      
      <th>Autista</th>
      <th>Mezzo di trasporto</th>
      <th>Data</th>
      <th>Partenza</th>
      <th>Destinazione</th>
      <th>Durata</th>
      <th>Posti disponibili</th>
      <th>User ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
    <%if tour.user==current_user%>
      <tr>
        <td><%= tour.Autista %></td>
        <td><%= tour.Mezzo_Di_Trasporto %></td>
        <td><%= tour.Data %></td>
        <td><%= tour.Partenza %></td>
        <td><%= tour.destinazione %></td>
        <td><%= tour.durata %></td>
        <td><%= tour.Posti_Disponibili %></td>
        <td><%= link_to 'Show Trip', tour %></td>
        <td><%= link_to 'Mostra Tappe', tour_stops_path(tour),class:'btn btn-outline-primary btn-sm' %></td>
        <td><%= link_to 'Modifica', edit_tour_path(tour),class:'btn btn-outline-warning btn-sm' %></td>
        <td><%= button_to 'Elimina', tour, method: :delete,class:'btn btn-outline-danger btn-sm', data: {confirm: "Sei sicuro di voler eliminare questo tour?"}  %></td>
       
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Aggiungi Tour', new_tour_path,class:"btn btn-secondary" %>
