
<main class="ui two column doubling stackable grid container">
    <div class="column">
        <div class="ui basic segment">
        
            <h1 class="display-4" class="ui header">
            
               <%= @tour.Autista %>
                
            
        </div>
        <div class="ui raised padded text segment">
            <h3>Partenza</h3>
            <p>
                <%= @tour.Partenza %>
            </p>
            <h3>Destinazione</h3>
            <p>
                <%= @tour.destinazione %>
            </p>
            <h3>Start Date:</h3>
            <p>
                <%= @tour.Data %>
            </p>
            <h3>End Date:</h3>
            <p>
                <%= @tour.enddate %>
            </p>
            <h3>Mezzo Di Trasporto:</h3>
            <p>
                <%= @tour.Mezzo_Di_Trasporto %>
            </p>
            <h3>Description:</h3>
            <p>
                <%= @tour.description %>
            </p>
            <div class="d-flex flex-row-reverse">
            <%if current_user!= @tour.user%>
            <%if @tour.memberships.count<@tour.Posti_Disponibili %>
                    
                    <div class="p-2"><%=link_to 'Join Tour', join_tour_path(@tour),class:"btn btn-outline-success" %></div>
                    <%Membership.all.each do |member|%>
                    <%if member.tour_id ==@tour.id && member.user_id == current_user.id%>
                    <div class="p-2"><%= button_to "Leave Tour", remove_from_tour_tour_path(@tour),class:"btn btn-danger", :method => :delete%></div>
                    
                    <%end%>
                    
                    <%end%>
                    
             <%else%>

            <button type="button" class="btn btn-outline-danger" disabled>COMPLETE</button>
            <%Membership.all.each do |member|%>
                    <%if member.tour_id ==@tour.id && member.user_id == current_user.id%>
                    <div class="p-2"><%= button_to "Leave Tour", remove_from_tour_tour_path(@tour),class:"btn btn-danger", :method => :delete%></div>
                    <%end%>
                    <%end%>
                    <%end%>
                    <%end%>

        </div>
        </div>
        
        <div class="ui basic segment">
            <h4 class="ui header">Stops:</h4>
            <div class="ui two column doubling stackable grid container">
                 <% @tour.stops.each do |stop| %>
                    <span class="column">
                        <div class="ui attached segment">
                           <%= link_to stop.address, tour_stop_path(@tour, stop) %>
                        </div>
                    </span>
                    <% end %>
                     
            </div>
        </div>
        <div class="ui floated basic segment">
            <h4>Passengers:</h4>
            <div class="d-flex">
            <% Membership.all.each do |member| %>
              <tr>
              <%if member.tour_id==@tour.id%>
              
                <div class="p-2">
                <div class="card" style="width: 12rem; ">
                <div class="card-header">
                    <%= link_to  member.user.username, user_path(member.user) %>
                    </div>
                <h5 class="card-title"></h5>
                <div class="card-body">
                
                <div class="account-settings">
                <div class="user-profile">
                  <div class="user-avatar" class= "img-circular">
                <h6 class="card-subtitle mb-2 text-muted"><%=image_tag(member.user.avatar_thumbnail) %></h6>
                </div>
                </div>
                </div>
                
    
                </div>
                </div>
                </div>
                
               
              <%end%>
            <% end %>

            </div>
            
           



            
            
           

        </div>
    </div>
    
        <div class="column">
            <div class="ui basic segment"></div>
            
            </h1>
                <div class="ui segment">
                    <h3>Tragitto:</h3>
                    <script>
var directionsDisplay = new google.maps.DirectionsRenderer();
var directionsService = new google.maps.DirectionsService();
var renderOptions = { draggable: true };

function calcRoute() {
    var waypoints = [];
    '<%@tour.stops.each do |stop|%>'
        waypoints.push(
        {
        location: new google.maps.LatLng('<%=stop.latitude%>', '<%=stop.longitude%>')
        }
        );
      
    '<%end%>'
    
  var infowindow = new google.maps.InfoWindow();
    var request = {
        origin:      "<%=@tour.Partenza%>",
        destination: "<%=@tour.destinazione%>",
        waypoints: waypoints,
        travelMode:  google.maps.TravelMode.DRIVING,
        unitSystem: google.maps.UnitSystem.IMPERIAL
    };
    
    directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {

            directionsDisplay.setDirections(response);
        }
    });
}

calcRoute();

</script>
<div style='width: 800px;'>
  <div id="map" style='width: 500px; height: 400px;'></div>
  </div>
<script>

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    directionsDisplay.setMap(handler.getMap());
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15);
});


</script>
 </div>
               
                    <div class="ui segment">
                    <h3>Posti a Disposizione:</h3>
            <p>
                <%= @tour.Posti_Disponibili %>
            </p>
            <h3>Partecipanti:</h3>
            <p>
                <%= @tour.memberships.count %>
            </p>
                </div>
                       
                        



 

                           
<hr class="my-4">
  
  <p class="lead">

  <%if @tour.user==current_user%>
    <%= link_to 'Edit', edit_tour_path(@tour),class:"btn btn-outline-warning" %> 
    <%= link_to 'Add Stop', new_tour_stop_path(@tour),class:"btn btn-outline-info" %> 
    
  
  <% end %>
  
  
  </p>
       
    

  
    
    
  </div>

  
</div>
                             
                               
                              
  </main>
      
  
       
